<label class="module-card col-12">
  <input type="checkbox" name="choices" value="{{ value }}">
  <div class="card">
    <div class="card-body py-3">
      <div class="d-flex align-items-center">
        <span class="module-icon module-icon-{{ color }} mr-3">
          <i class="tim-icons {{ icon }}"></i>
        </span>
        <div>
          <div class="font-weight-bold">{{ title }}</div>
          <small class="text-muted">{{ desc }}</small>
        </div>
      </div>
    </div>
  </div>
</label>
